* {
    background-color: var(--secondary-color);
}


:root {
    /* Primary colors */
    --primary-color: #1E90FF; /* Dodger Blue */
    --secondary-color: #04151F; /* Sea Green */
    --accent-color: #DAA520; /* Goldenrod */
    --additional-accent-color: #708090; /* Slate Gray */

    /* Fonts */
    --heading-font: "Roboto", monospace;
    --paragraph-font: "Playfair Display", serif;
    --headin-color: #C44900;

    /* Navigation */
    --navigation-bg-color: #1568A6; /* Deep Blue */
    --navigation-link-color: #3f71cc; /* White */
    --navigation-hover-link-color: #4DA6FF; /* Light Blue */
    --navigation-hover-bg-color: #2E8B57; /* Sea Green */
}


body {
    font-family: var(--heading-font);
    font-family: var(--paragraph-font);
    background-color: var(--background-color);
    max-width: 960px;
    margin: 0 auto; /* Centers the content horizontally */
    padding: 20px;
}

/* Grouping selector for all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headin-color); /* You can choose any color from your schema */
}

p {
    padding: 30px;
    color: var(--accent-color);
}

nav a {
    display: inline;
    float: right ;
    color: var(--navigation-link-color);
    text-decoration: none; /* Remove underline */
    padding: 1rem;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

header h1{
    display: flex;
    justify-items: center;

}
header img{
    width: 150px;
}
.hero {
    position: relative;
}
.hero article {
    width: 80%;
    top: 8rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(30, 144, 255, .7);
    color: white;
}
.hero h1 article {
    position: absolute;
    
}
.hero img{
    width: 100%;
    height: auto;
 
 
}
.hero article img {
    float: right;
    width: 200px;
}

.history p {
    color: var(--accent-color);
    border: 3px 0;
    border-color: var(--headin-color);
}

head{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.adventure {
    padding: 40px 20px;
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}
.adventure-gallery  figure {
    margin: 0;
    flex: 1;
}

.gallery  figure {
    margin: 0;
    flex: 1;
}

.gallery  figure  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery  figure  figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: var(--accent-color);
}

.adventure h2{
    display: flex;
    justify-content: center
}

footer{
    color: var(--accent-color);
}


section h2{
    display: flex;
    justify-content: center
}

iframe {
    display: inline-block;
    justify-content: flex-start;
    width: 970px;

  }
  
  form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--accent-color);
    border: 3px 0;
    border-radius: 0.5rem;
    background-color: var(--additional-accent-color);
  }
  
  input, textarea, button {
    padding: 10px;
    font-size: 1rem;
    font-family: var(--heading-font);
    color: var(--accent-color);
    background-color: var(--additional-accent-color);
  }

  
  fieldset {
    border: 1px solid slategray;
    padding: 10px;
    background-color: var(--additional-accent-color);
  }
  
  button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6e5412;
  }
  
  figure {
    display: inline-block;
    text-align: center;
    margin: 10px;
  }


  .form label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--additional-accent-color);
}

.form legend{
    background-color: var(--additional-accent-color);
}

.team h3{
    display: grid;
    justify-content: center;
    
}