* {
    background-color: var(--secondary-color);
}


:root {
    /* Primary colors */
    --primary-color: #1E90FF; /* Dodger Blue */
    --secondary-color: #174a2a; /* Sea Green */
    --accent-color: #DAA520; /* Goldenrod */
    --additional-accent-color: #0e1261; /* Slate Gray */

    /* Fonts */
    --heading-font: "Roboto", monospace;
    --paragraph-font: "Playfair Display", serif;
    --headin-color: #C44900;

    /* Navigation */
    --navigation-bg-color: #1568A6; /* Deep Blue */
    --navigation-link-color: #3f71cc; /* White */
    --navigation-hover-link-color: #4DA6FF; /* Light Blue */
    --navigation-hover-bg-color: #2E8B57; /* Sea Green */
}


body {
    font-family: var(--heading-font);
    font-family: var(--paragraph-font);
    background-color: var(--background-color);
    max-width: 960px;
    margin: 0 auto; /* Centers the content horizontally */
    padding: 20px;
}

body .company{
    border-bottom: 1px solid var(--additional-accent-color);

}

/* Grouping selector for all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headin-color); /* You can choose any color from your schema */
}

p {
    padding: 30px;
    color: var(--headin-color);
}

nav a {
    display: inline;
    float: right ;
    color: var(--headin-color);
    text-decoration: none; /* Remove underline */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid var(--additional-accent-color);
    line-height: 26px;
}

header h1{
    display: flex;
    justify-items: center;

}
header img{
    width: 150px;
}
.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: #ffffff61;
}

.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
    opacity: .9;
}

.hero article img {
    float: right;
    max-width: 13rem;
}

.hero a{
    color: var(--headin-color);
    text-decoration: none;
    
}

.history p {
    color: var(--accent-color);
    border: 3px solid;
    border-color: var(--additional-accent-color);
    text-align: ;
}

head{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.adventure {
    padding: 40px 20px;
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}
.adventure-gallery  figure {
    margin: 0;
    flex: 1;
}

.gallery  figure {
    margin: 0;
    flex: 1;
}

.gallery  figure  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery  figure  figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: var(--accent-color);
}

.adventure h2{
    display: flex;
    justify-content: center
}

.info{
    padding: 20px;
}

.info p{
    display: grid;
    justify-content: center;
    border: 1px solid var(--additional-accent-color);
    border-radius: 0.5rem;
    border-width: medium;
    
}

.info h3{
    display: grid;
    justify-content: center;
}

footer{
    color: var(--accent-color);
}


section h2{
    display: flex;
    justify-content: center
}

iframe {
    display: inline-block;
    justify-content: flex-start;
    width: 920px;

  }
  
  form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--accent-color);
    border: 3px 0;
    border-radius: 0.5rem;
    border-color: #04151F;
    background-color: var(--additional-accent-color);
  }

  .form h3{
    display: grid;
    justify-content: center;
  }
  
  input, textarea, button {
    padding: 10px;
    font-size: 1rem;
    font-family: var(--heading-font);
    color: var(--accent-color);
    background-color: var(--additional-accent-color);
  }

  
  fieldset {
    border: 1px solid slategray;
    padding: 10px;
    background-color: var(--additional-accent-color);
  }
  
  button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6e5412;
  }
  
  figure {
    display: inline-block;
    text-align: center;
    margin: 10px;
  }


  .form label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: var(--additional-accent-color);
}

.form legend{
    background-color: var(--additional-accent-color);
}

.form h2{
    background-color: var(--additional-accent-color);
}

.form-item-column2{
    background-color: var(--additional-accent-color);
}

.team h3{
    display: grid;
    justify-content: center;
    
}

.stwo {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    justify-items: center;
}

.stwo h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em 0;
}

.stwo img {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50%;
    border: 1px solid black;
    padding: 2px;
    
}